/* General */*

*, ::before, ::after
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    background-image: linear-gradient(
  90deg,
  hsl(202deg 53% 38%) 0%,
  hsl(207deg 46% 39%) 9%,
  hsl(212deg 40% 40%) 18%,
  hsl(218deg 33% 40%) 27%,
  hsl(232deg 30% 40%) 36%,
  hsl(245deg 27% 40%) 45%,
  hsl(259deg 24% 40%) 54%,
  hsl(273deg 26% 38%) 63%,
  hsl(288deg 29% 36%) 71%,
  hsl(302deg 31% 34%) 78%,
  hsl(310deg 39% 35%) 85%,
  hsl(317deg 45% 35%) 93%,
  hsl(324deg 52% 35%) 100%
);

}


/* header */

header{
  height: 10vh;
}
ul{
  display: flex;
  flex-direction: row;
  width: 80%;
  justify-content: space-around;
  align-items: center;
  margin-top: 5px;

}

li{
  text-transform: uppercase;
  flex-direction: column;
  list-style-type:none;
}

li a{
  color: #fff;

}

.logo{
  width: 20%;
  height: 10vh;
}

/* main */
body{
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  height: 120vh;

}

a{
  font-size: 1.2em;
  text-decoration: none;

}

main{
  display: flex;
  flex-direction: column;
  height: 120vh;
}

section{

  color: #fff;

}

.sect1{
  height: 60vh;
  display: flex;
  flex-direction: row;
  justify-content:space-between;

}

.dev1{
  height: 60vh;
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  align-content: center;
  justify-content:center;

}

.dev-img{
  margin-right: 10%;


}

.sect2{
  height: 60vh;
  flex-direction: column;
  align-content: center;
}

h1{
  font-family: 'Cabin', sans-serif; 
  font-size: 6rem; 
  font-weight: 700;

}

h2{
  font-family: 'Cabin', sans-serif; 
  font-weight: 700;
  font-size: 3.5rem;
}

h3{
  font-family: 'Cabin', sans-serif; 
  font-weight: 700;
  font-size: 2.5rem;
  display: flex;
  margin-left: 10%;
  margin-bottom: 20px;
  text-transform:uppercase;

}

h4{
  font-family: 'Cabin', sans-serif; 
  font-weight: 600;
  font-size: 1.7rem;
}

h5{
  font-family: 'Cabin', sans-serif; 
  font-weight: 700;
  font-size: 1.3rem;
  margin: 10% 0;

}

div p{
  font-family: 'Montserrat', sans-serif;
}

p a{
  font-family: 'Montserrat', sans-serif;
  text-underline-offset: 0.25rem;
}

.dev-img{
  width: 20%;
  height: 60vh;
  flex-direction: column;
}

.container{
  display: flex;
}

.projet{
  background: #b7094c;
  flex-direction: row;
}

.g1{
  margin: 0 10%;
  padding: 20px 0 15px 10px;

}

.m2{
  margin: 0;
  padding: 20px 0 15px 10px;

}

.d3{
  margin: 0 10%;
  padding: 20px 0 15px 10px;

}

/* footer */

footer{
  background: #fff;
  height: 20vh;

}
